* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.colors {
    color: #137fec;
    color: #f8f9fa;
    background: #101922;
    color: #ffffff;
    color: #1b2837;
    color: #212529;
    color: #f8f9fa;
    color: #6c757d;
    color: #a0aec0;
    color: #e9ecef;
    color: #323f4b;
    color: #ffd1dc;
    color: #d4edda;
    color: #cce5ff;
    color: #6c757d;
}

body {
    background-color: #f8f9fa;
    font-family: 'Inter', 'Poppins', sans-serif;
    padding-bottom: 5rem;
}

.main-padding {
    padding: 0 3rem;
}

.main-margin-bottom {
    margin-bottom: 2rem;
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e9ecef;
    text-align: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-icon {
    font-size: 1.3rem;
    color: #137fec;
}

.app-name {
    font-size: 1.375rem;
    font-weight: 700;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

img {
    width: 0.8rem;
    height: 0.8rem;
}

.action-btn {
    padding: 1rem;
    background-color: #edeff1;
    border-radius: 50%;
}

.delete-active{
    background-color: rgba(255, 0, 0, 0.219);
    color: red;
}


.filter-sec {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.light-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #6c757d
}

.color-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.all {
    font-size: 0.875rem;
    font-weight: 500;
    color: #137fec;
    background-color: rgba(19, 127, 236, 0.3);
    width: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-filter, .active-color {
    border: solid 1px black;
}

.lightpink {
    background-color: #ffd1dc;
}

.lightgreen {
    background-color: #d4edda;
}

.lightblue {
    background-color: #cce5ff;
}

.lightgrey {
    background-color: #6c757d;
}

.filter:hover {
    border: solid 1px black;
    transform: scale(1.2);
}

.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.card-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 2px 3px #ebecec;
    position: relative;
    cursor: pointer;
}

/* .color-code {
    height: 35%;
    width: 0.5rem;
    border-radius: 9999999px;
    background-color: #137fec;
} */

.color-code {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 0;
    height: 3rem;
    border: solid 10px #ffd1dc;
    border-bottom: solid 15px transparent !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.color-code-lightpink{
    border-color: #ffd1dc;
}
.color-code-lightgreen{
    border: solid 10px #d4edda;
}
.color-code-lightblue{
    border: solid 10px #cce5ff;
}
.color-code-lightgrey{
    border: solid 10px #6c757d;
}

.color-code:hover{
    height: 5rem;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.details i {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.task-title {
    font-size: 1rem;
    font-weight: 500;
    font-weight: normal;
}

.task-id {
    margin-top: 1.5rem;
}

.card-container:hover {
    transform: scale(1.01);
}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: none;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 500px;
}

.part-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-btn {
    color: rgb(247, 69, 69);
    font-size: 1.4rem;
    /* padding: 0.4rem;
    background-color: #edeff1;
    border-radius: 50%; */
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
}

#input {
    /* width: 100%; */
    min-width: 100%;
    max-width: 100%;
    min-height: 15rem;
    max-height: 15rem;
    padding: 0.8rem;
    border-radius: 1rem;
}

.priority {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prio-color {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}

.add-task {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: 100%;
    padding: 0.6rem;
    border-radius: 10px;
    border-style: none;
    background-color: #2A74E0;
}